<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-courses">
			  	<div class="card-header">
			  		<h5 class="card-title">Всего курсов</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_registrations}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="active-courses">
			  	<div class="card-header">
			  		<h5 class="card-title">Активные курсы</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{active}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="inactive-courses">
			  	<div class="card-header">
			  		<h5 class="card-title">Неактивные курсы</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{inactive}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>