{% extends 'accounts/main.html'%}
{% block content %}
    <div class="row">

	<div class="col-md">
		<div class="card card-body">
			<h5>Информация о студенте</h5>
			<hr>
			<p>ФИО: {{student.full_name}}</p>
			<p>Email: {{student.email}}</p>
			<p>Номер телефона: {{student.phone}}</p>
			<p>Факультет: {{student.faculty}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Общее число курсов студента</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{registrations_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
				{{myFilter.form}}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Название курса</th>
					<th>Категория</th>
					<th>Дата вступления</th>
					<th>Статус</th>
				</tr>
				{% for registration in registrations %}
				<tr>
					<td>{{registration.course}}</td>
					<td>{{registration.course.category}}</td>
					<td>{{registration.registration_date}}</td>
					<td>{{registration.status}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}