{% extends 'base.html' %}

{% block title %}{{article.name}}{% endblock %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <h2 style="text-align: center; color: #1e13b9;">{{article.name}}</h2>
    {% if article %}
    <div style="padding-right: 15%; padding-left: 15%;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название</th>
                <th scope="col">Цена</th>
                <th scope="col">Рейтинг производительности</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">{{ article.id }}</th>
                <td>{{ article.name }}</td>
                <td>{{ article.price }}</td>
                <td>{{ article.perfomance }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align: center;">
        <a style="color:#1e13b9; margin: 1%;" href="{% url 'articles:index' %}">Вернуться на главную</a>
    </div>
    {% else %}
        <p style="color: #1e13b9; text-align: center; margin-top: 10%;">Нет детальной информации об устройстве</p>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
{% endblock %}